<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>G-Nest</title>
    <script src="src\jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib\bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="lib\jasny-bootstrap\css\jasny-bootstrap.min.css">
    <link rel="stylesheet" href="/css/g-nest.css">
    <link rel="stylesheet" href="/css/g-nest2.css">
    <link rel="icon" href="images\favicon\favicon-16x16.png">
    <script src="~/lib/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <!--oldalsó menü-->
        <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm g-nest-navmenu" id="sidemenu">
            <ul class="nav navmenu-nav">
                <li class="active"><a asp-controller="Home" asp-action="Index">Főoldal</a></li>
                <li><a asp-controller="Oktatas" asp-action="Index">Oktatás</a></li>
                <li><a asp-controller="Kurzusaim" asp-action="Index">Kurzusaim</a></li>
                <li><a asp-controller="Jelentkezes" asp-action="Index">Jelentkezés</a></li>
                <li><a asp-controller="Tudasbazis" asp-action="Index">Tudásbázis</a></li>
                <li><a href="https://corvinusgeekclub.slack.com">Slack</a></li>
                <li><a asp-controller="Galeria" asp-action="Index">Galéria</a></li>
                <li><a asp-controller="Esemenyek" asp-action="Index">Események</a></li>
                <li><a asp-controller="KurzusAdatok" asp-action="Aktiv">Teszt</a></li>
            </ul>
        </div>
        <!--fejléc & sidebar-icon-->
        <div class="navbar navbar-default navbar-fixed-top g-nest-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-6 header-platform-name">
                        <button type="button" class="navbar-toggle g-nest-navbar-toggle" data-toggle="offcanvas" data-target="#sidemenu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a asp-controller="Home" asp-action="Index"><img src="images\temp-logo_w_text.png" alt="A g-nest logója"></a>
                        <a asp-controller="Home" asp-action="Index"><div class="platform-name-text">G-Nest</div></a>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-6 header-icons">
                        <a asp-controller="Profil" asp-action="Index"><span class="username-text">Felhasználónév</span></a>
                        <a asp-controller="Profil" asp-action="Index"><i class="material-icons xs-24 md-48 g-nest-icon">account_circle</i></a>
                        <a asp-controller="Notifications" asp-action="Index"><i class="material-icons xs-24 md-36 g-nest-icon">notifications</i></a>
                        <a asp-controller="Settings" asp-action="Index"><i class="material-icons xs-24 md-36 g-nest-icon">settings</i></a>
                        <a asp-controller="Exit" asp-action="Index"><i class="material-icons xs-24 md-36 g-nest-icon">exit_to_app</i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--container-->
        <div class="container-fluid g-nest-container">
            <div class="row">
                <div class="container-fluid g-nest-container">
                    <!--EZEN BELÜLRE KELL RAKNI A TÖBBI LAYOUT-OT-->
                    @RenderBody()




                    



                    <!--EDDIG TART A LAYOUT-OK HELYE-->
                </div>
            </div>

        </div>
        <!--lábléc-->
        <div class="g-nest-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-xs-6 copyright">
                        Copyright © 2017 Corvinus Geek Club
                    </div>
                    <div class="col-md-6 col-xs-6 gc-logo">
                        <div class="dev-by">
                            <div class="dev-by-text">Developed by</div>
                            <a href="https://geekclub.hu/"><img class="gc-logo-img" src="images\cgc_logo.png" alt="A Corvinus Geek Club logója"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
