<div class="row">
    <div class="col-sm-4 col-sm-push-8">
        <div class="jobb">
            <h2 class="hidden-sm hidden-md hidden-lg">Kurzus Neve</h2>
            <div class="kurzushet">
                <div class="fejlec">Kurzus Adatai</div>
                <div class="tartalom">
                    <div>Időpont</div>
                    <div>Tanár neve</div>
                    <div>Tanár elérhetőségei</div>
                </div>
            </div>
            <div class="kurzushet">
                <div class="fejlec">Legfrisebb hírek</div>
                <div class="tartalom">
                    <div>Változás</div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-sm-pull-4">
        <div class="bal">
            <h2 class="hidden-xs">Kurzus Neve</h2>
            <div class="kurzushet">
                <div class="fejlec">1. hét -téma</div>
                <div class="tartalom">
                    <div>  <img src="house.png" alt="">Házi feladat </div>
                    <div><img src="docs.png" alt=""></i>Segédanyag</div>
                </div>
            </div>
            <div class="kurzushet">
                <div class="fejlec">1. hét -téma</div>
                <div class="tartalom">
                    <div><img src="house.png" alt="">Házi feladat </div>
                    <div><img src="docs.png" alt=""></i>Segédanyag</div>
                </div>
            </div>
            <div class="kurzushet">
                <div class="fejlec">1. hét -téma</div>
                <div class="tartalom">
                    <div><img src="house.png" alt=""></i>Házi feladat</div>
                    <div><img src="docs.png" alt=""></i>Segédanyag</div>
                </div>
            </div>
        </div>
    </div>
</div>