@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row passziv" >
    <div class="col-md-8">
        <h2 id="kurzuscim-passziv">Tárgy neve</h2>
        <div class="row dobozbal">
            <h4 class="cimsor">Oktató</h4>
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <h4><em>Oktató neve</em></h4>
                <p>pozíciója</p>
                <p>e-mail cím<p>
                <p>telefonszáma</p>
            </div>
        </div>
        <div class="row dobozbal">
            <h4 class="cimsor">Részletes tantárgyleírás</h4>
            <p >A Lorem Ipsum egy egyszerû szövegrészlete, szövegutánzata a betûszedõ és nyomdaiparnak. A Lorem Ipsum az 1500-as évek óta standard szövegrészletként szolgált az iparban; mikor egy ismeretlen nyomdász összeállította a betûkészletét és egy példa-könyvet vagy szöveget nyomott papírra, ezt használta. Nem csak 5 évszázadot élt túl, de az elektronikus betûkészleteknél is változatlanul megmaradt. Az 1960-as években népszerûsítették a Lorem Ipsum részleteket magukbafoglaló Letraset lapokkal, és legutóbb softwarekkel mint például az Aldus Pagemaker.</p>
        </div>
    </div>
    <div class="col-md-4 dobozjobb">
        <div class="row"><h4 class="cimsor">Tematika</h4></div>
        <div class="row">
            <div class="col-md-12">
                <p class="het">1. hét - 2017.02.14</p>
                <p>Első hét anyagának leírása</p>
                <hr>
                <p class="het">1. hét - 2017.02.21</p>
                <p>Második hét anyagának leírása</p>
                <hr>
            </div>
        </div>
    </div>
</div>