@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="body">
        <div class="row">
            <div class="col-md-7">
                <div class="infok">
                    <div class="kozlemeny">
                        <p class="fejlec">Közlemények</p>
                        <div class="row">
                            <div class="col-sm-12"><p class="kozep">A Lorem Ipsum egy egyszerû szövegrészlete, szövegutánzata a betûszedõ és nyomdaiparnak. A Lorem Ipsum az 1500-as évek óta standard szövegrészletként szolgált az iparban.</p></div>
                        </div>
                    </div>
                    <div class="kurzusinfo">
                        <p class="fejlec">Kurzus infók</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-12"><h5 class="left">Webfejl 2 - hétfő 19:10, C656</h5></div>
                                <div class="col-md-12">
                                    <span class="">A következő óra témája: <br> Flexbox alapok</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12"><h5 class="right"> Grafika - kedd 17:20, C656</h5></div>
                                <div class="col-md-12">
                                    <span class="">A következő óra témája: <br> Fotómanipulálás</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="projektinfo">
                        <p class="fejlec">Projektek</p>
                        <div class="row">
                            <div class="projektek">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="left">Lányok Napja 2017. 04. 27.</h5>
                                        <p class="leiras bal">A Lorem Ipsum egy egyszerû szövegrészlete, szövegutánzata a betûszedõ és nyomdaiparnak. A Lorem Ipsum az 1500-as évek óta standard szövegrészletként szolgált az iparban.</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class="right">Karrier Percek 2017. 05. 03.</h5>
                                        <p class="leiras jobb">A Lorem Ipsum egy egyszerû szövegrészlete, szövegutánzata a betûszedõ és nyomdaiparnak. A Lorem Ipsum az 1500-as évek óta standard szövegrészletként szolgált az iparban.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="ribbon">
                    <p class="fejlec">Aktuális</p>
                    <div class="miniribbon"><p class="hir">Új képet töltött fel Géza</p><p class="ido">Feltöltés dátuma: 2017.04.01.</p></div>
                    <div class="miniribbon"><p class="hir">Új workshopot töltött fel János</p><p class="ido">Feltöltés dátuma: 2017.04.01.</p></div>
                    <div class="miniribbon"><p class="hir">Új eseményt töltött fel Elemér</p><p class="ido">Feltöltés dátuma: 2017.04.01.</p></div>
                    <div class="miniribbon"><p class="hir">Új közleményt töltött fel Tivadar</p><p class="ido">Feltöltés dátuma: 2017.04.01.</p></div>
                </div>
            </div>
        </div>

    </div>
</div>
