@{
ViewData["Title"] = "Home Page";
}

    <div class="row home">
        <div class="col-md-7">
            
                <div class="kozlemeny">
                    <p class="fejlec">Közlemények</p>
                    <div class="row">
                        <div class="col-sm-12"><p class="kozep">A 2014-ben alapított diákszervezetünk elsődleges célja, hogy az informatika iránt érdeklődő hallgatóknak egy olyan közeget biztosítson, ahol egy összetartó csapat tagjaként bővíthetik egyetemi tanulmányaikat, és gyakorlati tapasztalatokra tehetnek szert</p></div>
                    </div>
                </div>
                <div class="kurzusinfo">
                    <p class="fejlec">Kurzus infók</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12"><h5>Webfejl 2 - Csütörtök 19:10, C659</h5></div>
                            <div class="col-md-12">
                                <span>A következő óra témája: <br> JQuery, Pluginek rövide, Animációk</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12"><h5> Grafika - kedd 17:20, C659</h5></div>
                            <div class="col-md-12">
                                <span>A következő óra témája: <br> Fotómanipulálás</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projektinfo">
                    <p class="fejlec">Projektek</p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Lányok Napja 2017. 04. 27.</h5>
                            <p class="leiras">Efemine közreműködésével rendezett nagy projektek, melynek célja az informatika népszerűsítése a lányok körében.</p>
                        </div>
                        <div class="col-md-6">
                            <h5>Karrier Percek 2017. 05. 03.</h5>
                            <p class="leiras"> Ezuttal a McKinsey fog hozzánk látogatni, hogy megismerhessük a cégnél rejlő lehetőségeket, és karrier táncsokkal lássanak el minek tapasztalaaik alapján.</p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-5">
            <div class="ribbon">
                <p class="fejlec">Aktuális</p>
                <div class="miniribbon"><p class="hir">Gréta új képet töltött vel</p><p class="ido">Feltöltés dátuma: 2017.04.10.</p></div>
                <div class="miniribbon"><p class="hir">Rebeka új workshopot töltött fel</p><p class="ido">Feltöltés dátuma: 2017.04.10.</p></div>
                <div class="miniribbon"><p class="hir">Réka új képet töltött vel</p><p class="ido">Feltöltés dátuma: 2017.04.08.</p></div>
                <div class="miniribbon"><p class="hir">Zsombor új workshopot töltött fel</p><p class="ido">Feltöltés dátuma: 2017.04.06.</p></div>
                <div class="miniribbon"><p class="hir">Marcell új eseményt töltött fel</p><p class="ido">Feltöltés dátuma: 2017.04.05.</p></div>
                <div class="miniribbon"><p class="hir">Fruzsina új közvéleményt töltött fel</p><p class="ido">Feltöltés dátuma: 2017.04.03.</p></div>
                <div class="miniribbon"><p class="hir">Bálint új közvéleményt töltött fel</p><p class="ido">Feltöltés dátuma: 2017.04.03.</p></div>
            </div>
        </div>
    </div>
