html, body {
    margin: 0;
}

html, body, .container-fluid, .row {
    height: 100%;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
     color: #727072;
}

.wrapper {
    min-height: 100%;
    padding: 87px 0 59px 0;
    position: relative;
}


/*wrapper és navbar-toggle igazítása a sidebar viselkedéséhez*/

@media (min-width: 1px) {
    .navbar-toggle {
        display: block !important;
    }
}

@media (min-width: 992px) {
    .wrapper {
        padding: 87px 0 59px 300px;
    }
    .navmenu {
        padding-top: 0;
    }
    .g-nest-navbar-toggle {
        display: none !important;
    }
}

.g-nest-header {
    height: 87px;
    top: 0;
}

.g-nest-header .header-platform-name {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 6px;
}

.g-nest-header .header-platform-name a {
    color: #333333 !important;
}

.header-platform-name img{
    height: 68px;
}

.g-nest-header .header-platform-name a:hover, .g-nest-header .header-platform-name a:hover {
    color: #000000 !important;
    text-decoration: none !important;
}

.g-nest-header .platform-name-text {
    margin-left: 15px;
    font-size: 40px;
    font-weight: 300;
}

.g-nest-header .username-text {}

.g-nest-header .header-icons {
    height: 86px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.g-nest-header .header-icons a {
    color: #333333 !important;
}

.g-nest-header .header-icons a:hover, .g-nest-header .header-icons a:hover {
    color: #000000 !important;
}

.g-nest-header .g-nest-icon {
    margin-left: 15px;
}


/*ikonméretek*/

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}


/*fejléc ikonméretek és platformnév kezelése a képernyő kicsinyítésekor*/

@media (max-width: 693px) {
    .material-icons.xs-18 {
        font-size: 18px;
    }
    .material-icons.xs-24 {
        font-size: 24px;
    }
    .g-nest-header .header-icons a {
        height: 24px;
    }
    .g-nest-header .header-icons a:hover, .g-nest-header .header-icons a:focus {
        height: 24px;
    }
    .g-nest-header .platform-name-text {
        font-size: 24px;
    }
}

@media (max-width: 400px) {
  .g-nest-header .platform-name-text {
    display: none;
  }
}


/*a felhasználónév eltüntetése, mikor a képernyő kicsi, ilyenkor az ikon helyettesíti*/

@media (max-width: 693px) {
    .g-nest-header .username-text {
        display: none;
    }
}

.g-nest-navbar-toggle {}

.g-nest-container {
    top: 87px;
    left: 300px;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 39.99px;
}

.g-nest-navmenu {
    top: 87px !important;
    bottom: 59px !important;
    background-color: #c0392b !important;
    border: 0 !important;
    -webkit-box-shadow: 6px 0px 10px -2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 6px 0px 10px -2px rgba(0, 0, 0, 0.5);
    box-shadow: 6px 0px 10px -2px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

/*navmenu takarja el a footert, ha a képernyő nem elég magas*/
@media (max-height: 700px) {
  .g-nest-navmenu {
    bottom: 0 !important;
  }
}

/*de ne takarja el, ha még elég széles*/
@media (min-width: 992px) {
  .g-nest-navmenu {
    bottom: 59px !important;
  }
}

 /*menüpontok formázása (jasny-bootstrap paramétereinek felülírása, az eredeti fájl selectorai bővebbek)*/
.nav > li > a {
  text-align: center;
  margin: 0 0 8px 0 !important;
}

.navmenu-default .navmenu-nav > li > a {
  color: #ffffff !important;
  background-color: #c64d41;
  border-left: 5px solid #ffffff;

}

.navmenu-default .navmenu-nav > li > a:hover, .navmenu-default .navmenu-nav > li > a:focus {
  background-color: #c64d41 !important;
  border-left: 5px solid #f44e3d;
}

.navmenu-default .navmenu-nav > .active a {
  background-color: #c64d41 !important;
border-left: 5px solid #f44e3d;
}

.g-nest-sidebar-container {}

.g-nest-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 59px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    overflow: auto;
}



.copyright {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.dev-by {
    height: 58px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
}

.dev-by-text {
    margin-right: 15px;
}

.dev-by img{
    height: 40px;
}

.gc-logo {
    text-align: right;
    height: 100%;
}

.gc-logo-img {}

/*kurzusaim*/

.my-courses-text {
    font-size: 40px;
    color: #3498db;
    margin-bottom: 20px;
}

.panel-course {
    border-radius: 0 !important;
    border: 0;
    background-color: #ffffff;
    /*opacity: 0.8;*/ /*ha lesz háttérkép*/
}

.panel-course-header {
    font-size: 16pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel-active-course-header {
    background-color: #c0392b !important;
    color: #ffffff !important;
    border-radius: 0 !important;
}

.panel-completed-course-header {
    background-color: #939393 !important;
    color: #ffffff !important;
    border-radius: 0 !important;
}

.panel-course-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}

.panel-course-col-right-border {
    border-right: 1px solid #999898;
}

.panel-course-col-no-border {
    border: 0 !important;
}

.panel-course-col-header {
  font-size: 16pt;
}

.panel-course-col-next-class {
  font-style: italic;
  color: #3498db;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.icon-blue {
  color: #3498db;
}

.icon-blue a {
  color: #3498db;
}

.icon-blue a:focus, a:hover {
  color: #939393;
  text-decoration: none;
}

/*Akítv kurzus*/

.kurzushet{
  padding: 5px 0px;
}
.tartalom{
  background-color:rgb(241, 240, 241);
  padding: 6px 40px;

}
.fejlec{
  padding: 3px 20px;
  background-color: rgb(81, 117, 118);
  color: #FFF;
}

img{height:16px;

margin-right:20px;
}

hr{
  border-color: #BBB;
  border-top: 1px solid;
}
.jobb{
  margin-top: 25px;
}
.doboz{
  background-color: #FFF;
  margin-bottom:10px;
  margin-left:10px;
  margin-right: 10px;
}

.aktivcim{
  background-color:rgb(208, 21, 21);
  color: #FFF;
  padding-left: 15px;
  font-style: "Calibri Light", sans-serif;
  font-weight: normal;
  margin-left:0px;
  margin-right:0px;
}

.aktivoktato{
  background-color: rgb(255, 133, 133);
  color: #FFF;
  padding-left: 15px;
  font-style: italic;
  margin-left:0px;
  margin-right:0px;
}

.workshopcim{
  background-color:rgb(120, 64, 64);
  color: #FFF;
  padding-left: 15px;
  font-style: "Calibri Light", sans-serif;
  font-weight: normal;
  margin-left:0px;
  margin-right:0px;
}

.workshopoktato{
  background-color:rgb(186, 146, 146);
  color: #FFF;
  padding-left: 15px;
  font-style: italic;
  margin-left:0px;
  margin-right:0px;
}

.kiskep{
  width: 100px;
  height: 100px;
  margin-left:10px;
}

.kozep {
    text-align: center;
    padding: 10px 10px 10px 0px;
}

.szoveg{
  padding-left:20px;
  padding-right:20px;
  padding-top:15px;
  padding-bottom:15px;
  text-align: justify;
}

.jelentkezz{
  font-size: 16px;
  background-color:rgb(39, 140, 177);
  color: #FFF;
  font-weight: normal;
  text-align: center;
  margin-right:30px;
  margin-top:25px;
}

.panel-profile {
    border: 1px solid #727072;
    border-radius: 0;
}

.panel-profile .panel-heading {
	background: #c0392b;
	color: #fff;
	border-radius: 0;
	font-size: 24px;
}

@media only screen and (min-width : 992px) {
    .flex-row, .flex-row > div[class*='col-md-'] {
        display: flex;
    }

    .panel-profile {
        width: -moz-available;
        width: -webkit-fill-available;
    }
}

.skill {
    padding: 8px 5px;
}

.profil-kurzus {
    line-height: 3em;
}

.profil-kurzus .fa {
    vertical-align: middle;
    margin-right: 5px;
}

.icon-group p {
	display: inline-block;
}

.profile-pic-big {
	text-align: center;
	font-size: 25vmin;
}

.course-block {
	padding-left: 60px;
	padding-right: 60px;
	text-align: center;
}

i.fa.fa-3x.fa-book {
	padding-right: 10px;
	padding-left: 10px;
}

i.fa.fa-circle, i.fa.fa-circle-o {
	padding-left: 10px;
	padding-right: 10px;
}
#kurzuscim-passziv{
  color:rgb(47, 146, 227)
}
.dobozbal{
  background-color: rgba(255,255,255,0.65);
  margin-bottom:10px;
  margin-left:0px;
  margin-right: 0px;
}

.dobozjobb{
  background-color: rgba(255,255,255,0.65);
  margin-bottom:10px;
  margin-left:0px;
  margin-right: 0px;
  margin-top: 10px;
}

.het{
  font-weight: bolder;
  color:rgb(190, 35, 35);
}

.cimsor{
  background-color:rgb(194, 34, 18);
  color:white;
  padding-left:15px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-top:10px;
  margin-bottom:10px;
  font-weight: normal;
  font-size: 20px;
  font-family:"Calibri Light", sans-serif;
  position:relative;
  bottom:10px;
}



.passziv p{
  padding:0px;
  padding-left:20px;
  padding-right: 20px;
  text-align:justify;
}

/*Főoldal*/
h5.left {
    text-align: center;
    font-weight: bold;
    left: 15px;
}

h5.right {
    text-align: center;
    font-weight: bold;
    right: 15px;
}

.ribbon, .kozlemeny, .kurzusinfo, .projektinfo {
    border: 1px solid black;
    box-shadow: 5px 5px 2px rgb(176, 176, 173);
    padding-bottom: 5px;
}

.projektinfo .row {
    padding: 10px;
}

.home-row div {
    padding: 10px;
}

.kurzusinfo, .projektinfo {
        margin-top: 10px;
    }

.miniribbon {
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
}

.home .fejlec {
    padding-left: 10px;
    background: #c0392b;
    color: white;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 0px;
}

.leiras {
    padding-top: 5px;
    text-align: justify;
}

.ido {
    float: right;
    position: relative;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

