@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>G-Nest</title>
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <div class="wrapper">
        <h1>G-Nest</h1>
        <form action="@Url.Action("Login", "Account")" method="post">
            <input name="email" type="text" placeholder="E-mail cím">
            <input name="password" type="password" placeholder="Jelszó">
            <input type="submit" value="Bejelentkezés">
        </form>
        <a href="" id="pw-reset">Elfelejtetted a jelszavad?</a>
    </div>
</body>
</html>