@using GeekPlatform.ViewModels.Galeria
@model GalerryAlbumViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Albumok</title>
</head>
<body>
</body>
</html>
